@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

// ---- general styles ---- 
$weight-500: 500;
$weight-700: 700;
$weight-900: 900;
$pink-color: #e43a69;

html, body {
    font-family: 'Roboto', sans-serif !important;
    font-size: 1em;
    font-weight: $weight-500 !important;
}

.logo {
    width: 27.5vh;
}

h1 {
    font-weight: $weight-700 !important;
    font-size: 1.8em;
}

.row p {
    color: #717171;
    font-size: 15px;
    line-height: 1.2rem;
}

.card {
    border: none;
    font-weight: $weight-900;

    .card-body {
        border-radius: 4%;
        box-shadow: 3px 6px 20px 2px #e2e2e2;
    }

    .btn {
        background-color: $pink-color;
        border-color: $pink-color;
        color: #ffffff;
        border-radius: 20px;
        height: 45px;
        padding: 0 43px;
        font-weight: $weight-500;
        font-size: 15px;
        outline: none;
    }

    .form-control {
        border-color: #dedede !important;
        height: 2.2em;
        color: #948686;
    }

    ::-webkit-input-placeholder {
        color: #948686;
    }      


}

.error {
    color: red;
}
